<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
	<nav th:fragment=menu>
		<!-- 此下拉選單的製作是參考此網站:https://www.astralweb.com.tw/pure-css-drop-down-menu/ -->
		<ul class="drop-down-menu">
			<li><a href="#" th:href="@{/}">首頁</a></li>
			<li><a href="#">歌曲查詢</a>
				<ul>
					<li><a href="#" th:href="@{/search/KKBOX}">KKBOX</a></li>
					<li><a href="#" th:href="@{/search/Spotify}">Spotify</a></li>
					<li><a href="#" th:href="@{/search/Youtube}">Youtube</a></li>
				</ul></li>
			<li><a href="#">歌單搬移</a>
				<ul>
					<li><a href="#" th:href="@{/porter/KKBOX/Spotify}">KKBOX
							to Spotify</a></li>
					<!--
					<li><a href="#" th:href="@{/porter/Youtube/Spotify}">Youtube
							to Spotify</a></li>
							  -->
				</ul></li>
		</ul>
	</nav>
</body>
</html>