<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
	<section th:fragment=searchResult>
		<p th:text="${headline}"></p>
		<table th:if="${not #lists.isEmpty(resultList)}">
			<thead>
				<tr>
					<th>歌曲名稱</th>
					<th>專輯名稱</th>
					<th>專輯封面</th>
					<th>歌手名稱</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="result:${resultList}">
					<td><a th:href="${result.songUrl}"
						th:text="${result.songName}" target="_blank"></a></td>
					<td th:text="${result.albumName}"></td>
					<td><img th:src="${result.imageUrl}"></td>
					<td th:text="${result.artistName}"></td>
				</tr>
			</tbody>
		</table>
		<p th:if="${#lists.isEmpty(resultList)}">查無資料。</p>
	</section>

</body>
</html>