<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>PlaylistPorter</title>
<link rel="stylesheet" th:href="@{/css/main.css}" />
<link rel="stylesheet" th:if="${menuChoice} == 'searchResult'"
	th:href="@{/css/fixedFirstRowTable.css}" />
</head>
<body>
	<!-- 選單 -->
	<div th:replace="fragment/menu :: menu"></div>
	<!-- 首頁 / 歌曲查詢 / 查詢結果 -->
	<div>
		<section th:replace="('fragment/' + ${menuChoice}) :: ${menuChoice}"></section>
	</div>
</body>
</html>